title: Guts Blog
description: My GitHub Pages Development Blog

url: "https://ehdtn3540.github.io"
baseurl: "/guts-blog"

theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-include-cache

